<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" type="text/css" href="http://randomnerdtutorials.com/ethernetcss.css">
    <title>Server Room Cooling Mode</title>
</head>
<body>
    <h1>Server Room Cooling Mode!</h1>
    <iframe src="http://192.168.88.88:3000/d/b45327e0-a7d5-43a4-ab2d-29301d9a4a46/sensors?orgId=1&refresh=10s&viewPanel=1&theme=light" width="1200" height="650"></iframe>
    <hr>
    <h2>Temperatures:</h2>
    <p>Hot Aisle: {{ metric_values.get('temperature_hot', 'N/A') }}°C</p>
    <p>Cold Aisle: {{ metric_values.get('temperature_cold', 'N/A') }}°C</p>
    <p>Under Floor: {{ metric_values.get('temperature_floor', 'N/A') }}°C</p>
    <p>Ambient: {{ metric_values.get('temperature_ambient', 'N/A') }}°C</p>
    <!-- Add similar lines for other metrics -->

    <h2>Manually Override the Cooling Mode of the Room!!</h2>
    <p>AC - State: {{ metric_values.ac_pin_state }}</p>
    <p>Fan1 - State: {{ metric_values.fan1_pin_state }}</p>
    <p>Fan2 - State: {{ metric_values.fan2_pin_state }}</p>
    <p>Damper - State: {{ metric_values.damper_pin_state }}</p>

    <!-- Display AC state with a toggle button -->

    <a href="/ac">AC Mode</a>

    <a href="/freecooling">Freecooling</a>

    <a href="/freecooling_turbo">Freecooling Turbo</a>

    <a href="/passive">Passive</a>

    <a href="/auto">Auto</a>
</body>
</html>
